@{
    ViewBag.Title = "Home Page";
}

<div style="background-color:#fbb0f5;">
    @using (Html.BeginForm("Login", "Home"))
    {
        <table>
            <tr>
                <td >
                    @Html.Label("Login")
                </td>
                <td style="text-align:right">
                    @Html.TextBox("username")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Password")
                </td>
                <td style="text-align:right">
                    @Html.Password("password")
                </td>
            </tr>
        </table>       
        <br />
        <input type="submit" />
    }

    @Html.ActionLink("Зарегистрироваться", "Register", "Home")
</div>
